body{
    margin:0;
    padding:0;
    /* background-color: antiquewhite;
    background-image: url(Screenshot\ 2025-10-23\ 162319.png);
    background-repeat: repeat-y;
    background-position: top right;
    background-size: cover; */
    background: url(Screenshot\ 2025-10-23\ 162319.png) no-repeat top right #999 top 50px;
}
h1{
    background-color: blue;
}
html,
* {
    margin:0;
    padding:0;

}
